.f1{
  margin-top: 150px;
}
.form-group {
    margin: 10px;
    text-align: center;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.2);
  }